# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode
## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

## ObjC/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.swiftpm/
Packages/
# *.xcodeproj # Commented out as the main project file should not be ignored
Package.resolved
Package.pins

# Cocoapods
Pods/
# *.lock # Often committed, but can be ignored depending on strategy
Podfile.lock

# Carthage
Carthage/Build
Carthage/Checkouts

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Playgrounds
timeline.xctimeline
playground.xcworkspace
